<h1>Static#index</h1>
<p>Find me in app/views/static/index.html.erb</p>




<h1>InList</h1>

<div class="row">

    <!-- Item Form -->
    <div class="col-md-6">
        <%= form_for @item do |f| %>
            <%= f.text_field :name, placeholder: 'Item' %>
            <%= fields_for @tag do |ff| %>
                <% ff.text_field :name, placeholder: 'Tags' %>
            <% end %>
            <%= f.submit 'Add Item' %>
        <% end %>
    </div>

    <!-- API Search for Items by Tags -->
    <div class="col-md-6">
        <input type="text" size="25" placeholder="Search items by tags" data-ng-model="tagQuery.name">&nbsp; Q
    </div>

</div> <!-- end row -->

<br><hr>

<h2>Collection</h2>

<div class="row">

    <!-- Item List -->
    <div class="col-md-3">
        <h3>Items</h3>
        <ul>
            <% @items.each do |i| %>
            <li>
                <%= i.name %> &nbsp;[ <%= link_to 'x', i, method: :delete %> ]
                <% if i.tags.exists? %>
                <br>
                [<% i.tags.each do |t| %>&nbsp;#<%= t.name %>&nbsp;<% end %>]
                <% end %>
            </li>
            <br>
            <% end %>
        </ul>
    </div>

    <!-- Tag List -->
    <div class="col-md-3">
        <h3>Tags</h3>
        <ul>
            <% @tags.sort_by{ |a| a.name.downcase }.each do |t| %>
            <li>#<%= t.name %> &nbsp;[ <%= link_to 'x', t, method: :delete %> ]</li>
            <br>
            <% end %>
        </ul>
    </div>

    <!-- Tagging List -->
    <div class="col-md-3">
        <h3>Taggings</h3>
        <ul>
            <% @tags.sort_by{ |a| a.name.downcase }.each do |t| %>
            <li>
                #<%= t.name %>
                <ul>
                <% t.items.sort_by{ |a| a.name.downcase }.each do |i| %>
                    <li><%= i.name %></li>
                <% end %>
                </ul>
            </li>
            <br>
            <% end %>
        </ul>
    </div>

    <!-- Tag Query Result -->
    <div class="col-md-3">
        <h3>Tag Query</h3>
        <ul data-ng-if="tagQuery.name != ''">
            <li data-ng-repeat="t in tags | filter:tagQuery | orderBy:'name'">
                #{{t.name}}
                <ul>
                    <li data-ng-repeat="i in t.items">{{i.name}}</li>
                </ul>
                <br>
            </li>
        </ul>
    </div>

</div> <!-- end row -->
